{% extends "base.html" %}
{% block content %}
  <h2>{{ user.username }}'s Profile</h2>
  <p><strong>Email:</strong> {{ user.email }}</p>

  <h4 class="mt-4">Favorite Meals</h4>
  {% if favorites %}
    <ul>
      {% for meal in favorites %}
        <li><a href="{{ url_for('meal_detail', meal_id=meal.id) }}">{{ meal.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't favorited any meals yet.</p>
  {% endif %}

  <h4 class="mt-4">My Recipes</h4>
  <ul>
    {% for recipe in user_recipes %}
      <li><a href="{{ url_for('meal_detail', meal_id=recipe.id) }}">{{ recipe.name }}</a></li>
    {% else %}
      <li>No recipes yet.</li>
    {% endfor %}
  </ul>


  <a href="{{ url_for('profile_edit') }}" class="btn btn-outline-primary mt-3">Change Credentials</a>
{% endblock %}
