{% extends "base.html" %}
{% block content %}
  <h2>{{ recipe and "Edit" or "Add" }} Recipe</h2>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(class="form-control") }}
    {{ form.category.label }} {{ form.category(class="form-control") }}
    {{ form.area.label }} {{ form.area(class="form-control") }}
    {{ form.instructions.label }} {{ form.instructions(class="form-control") }}
    {{ form.image.label }} {{ form.image(class="form-control") }}
    {{ form.submit(class="btn btn-success mt-2") }}
  </form>
{% endblock %}
